
body {
    font-family: "Courier Prime", monospace;
    background: #FFCECE;
    padding-top: 30px;
}

.main-content {
    max-width: 740px;
    margin: auto;
}

h1 {
    margin-bottom: 5px;
    background: white;
    padding-left: 15px;
    padding-top: 5px;
    max-width: 400px;
    line-height: 40px;
    font-size: 30px;
}

.bio-links {
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.text-uppercase {
    text-transform: uppercase;
}
